body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}
header{
    height: 220px;
    width: 100%;
}
    header #primero{
        background: #000;
        height: 60px;
        padding-top: 10px;
        padding-right: 200px;
    }
        header #primero p{
            color: #fff;
            font-size: 12px;
            font-weight: bold;
            float: right;
        }
    header #segundo{
        height: 110px;
        width: 100%;
    }
        header #segundo #seg1{
            float: left;
            width: 410px;
            padding: 25px 0px 30px 20px;
        }
            header #segundo #seg1 i{
                padding-right: 10px;
            }
        header #segundo #seg2{
            float: left;
            width: 410px;
            padding: 5px 0px 0px 0px;
        }
            header #segundo #seg2 h1{
                color: #fe9126;
                font-size: 40px;
                display: block;
                font-weight: bold;
                text-decoration: none;
            }
            header #segundo #seg2 a{
                text-decoration: none;
            }
        header #segundo #seg3{
            float: left;
            width: 410px;
            padding: 45px 0px 30px 0px;
        }
            header #segundo #seg3 input{
                width: 80%;
                padding: 10px;
                border: 1px solid #cccccc;
                color: #999;
                outline: none;
                font-size: 14px;
            }
            header #segundo #seg3 i{
                background: #fe9126;
                padding: 11px 12px;
                color: #fff;
                border-radius: 4px;
            }
            header #segundo #seg3 i:hover{
                background: #333;
            }
    header nav{
        width: 100%;
        background: #fe9126;
        height: 50px;
        padding: 15px 0px;
    }
        header nav a{
            color: #fff;
            text-decoration: none;
            font-size: 16px;
            padding: 0px 150px;
        }

main{

}
    main section#primera{
        height: 800px;
        background: #333;
        padding: 80px 0px 0px 50px;
        color: #fff;
    }
        main section#primera h2{
            font-size: 2.4em;
            color: #fe9126;
            padding-left: 50px;
        }
        main section#primera div#registrar{
            float: left;
        }
            main section#primera div#registrar form{
                height: 600px;
                width: 20%;
            }
                main section#primera div#registrar form div label{
                    padding-right: 20px;
                }
                main section#primera div#registrar form div input{
                    margin-left: 20px;
                }
        main section#primera div#listarE{
            float: left;
        }
    main section#segunda{
        background: #2b2a2a;
        height: 340px;
        width: 100%;
        color: #fff;
    }
        main section#segunda div#contacto{
            height: 250px;
            width: 30%;
            float: left;
            padding: 50px 40px 40px 40px;
        }
            main section#segunda div#contacto h3{
                    color: #ffffff;
                    font-size: 1.5em;
                    margin-bottom: 1.8em;
                    text-transform: uppercase;
            }
            main section#segunda div#contacto i{
                padding-right: 20px;
                color: #fe9126;
            }
            main section#segunda div#contacto p{
                list-style-type: none;
                margin-bottom: 1em;
                color: #afafaf;
                font-size: 14px;
            }
        main section#segunda div#tipos{
            height: 250px;
            width: 40%;
            float: left;
            padding: 50px 0px 40px 0px;
        }
            main section#segunda div#tipos h3{
                color: #ffffff;
                font-size: 1.5em;
                margin-bottom: 1em;
                text-transform: uppercase;
            }
            main section#segunda div#tipos div#1{
                float: left;
                width: 25%;
            }
            
            main section#segunda div#tipos div#2{
                float: left;
                width: 25%;
            }
            main section#segunda div#tipos div#3{
                float: left;
                width: 25%;
            }
            main section#segunda div#tipos div#4{
                float: left;
                width: 25%;
            }
                main section#segunda div#tipos i{
                    padding-right: 20px;
                    color: #fe9126;
                    margin-bottom: 1.3em;
                }
                main section#segunda div#tipos a{
                    list-style-type: none;
                    margin-bottom: 0.5em;
                    padding-right: 20px;
                    color: #afafaf;
                    font-size: 14px;
                    display: inline-block;
                }
        main section#segunda div#perfil{
            height: 250px;
            width: 15%;
            float: left;
            padding: 50px 0px 40px 0px;
        }
            main section#segunda div#perfil h3{
                color: #ffffff;
                font-size: 1.5em;
                margin-bottom: 1em;
                text-transform: uppercase;
            }
            main section#segunda div#perfil i{
                    padding-right: 20px;
                    color: #fe9126;
                    margin-bottom: 1.3em;
                }
                main section#segunda div#perfil a{
                    list-style-type: none;
                    margin-bottom: 0.5em;
                    padding-right: 20px;
                    color: #afafaf;
                    font-size: 14px;
                    display: list-item;
                }
    main section#tercera{
        background: #2b2a2a;
        height: 60px;
        width: 100%;
        color: #fff;
    }
        main section#tercera p{
            margin-top: 0px;
            text-align: center;
            padding-top: 10px; 
        }
footer{
    background: #393737;
    height: 65px;
    padding: 20px 0px 0px 40px;
}
    footer a{
        width: 32px;
        height: 32px;
        color: #fff;
        border: 1px solid #fff;
        text-align: center;
        display: inline-block;
        font-size: 18px;
        line-height: 32px;
        border-radius: 50% 
    }
    footer i{
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }